@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Brand colors */
  --color-dark-900: var(--dark-900);
  --color-dark-700: var(--dark-700);
  --color-dark-500: var(--dark-500);
  --color-dark-400: var(--dark-400);
  --color-purple-600: var(--purple-600);
  --color-purple-100: var(--purple-100);
  --color-green-500: var(--green-500);
  --color-green-400: var(--green-400);
  --color-green-300: var(--green-300);
  --color-red-500: var(--red-500);
  --color-yellow-500: var(--yellow-500);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Brand colors */
  --dark-900: #000510;
  --dark-700: #0f1316;
  --dark-500: #1a2027;
  --dark-400: #1e2833;

  --purple-600: #1b254b;
  --purple-100: #a3aed0;

  --green-500: #76da44;
  --green-400: #2ebe7b;
  --green-300: #99e39e;

  --red-500: #ff685f;
  --yellow-500: #dabe44;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-dark-700 text-foreground;
  }
}

@layer utilities {
  .container {
    @apply px-4 sm:px-6 mx-auto max-w-[1440px];
  }

  .command-input-wrapper {
    @apply !bg-dark-500;
  }

  /* CandlestickChart Styles */
  .candlestick-container {
    @apply p-3 rounded-lg bg-dark-500;
  }

  .candlestick-header {
    @apply flex flex-col gap-3 xl:flex-row xl:items-center mb-4 font-semibold text-[#e6eef8] text-[20px];
  }

  .candlestick-button-group {
    @apply flex gap-1 xl:gap-2 items-center;
  }

  .candlestick-interval {
    @apply rounded-sm px-3 py-1.5 border-0 text-sm bg-dark-500 text-white/60;
  }

  .candlestick-period-button {
    @apply rounded-sm border-0 cursor-pointer px-2 xl:px-3 py-1.5 text-xs xl:text-sm text-purple-100 hover:bg-dark-400 hover:text-white transition-colors duration-200;
  }

  .candlestick-period-button-active {
    @apply rounded-sm px-3 py-1.5 border-0 cursor-pointer text-sm text-gray-900 bg-green-500;
  }

  .candlestick-chart-container {
    @apply w-full min-h-[200px];
  }

  /* Home Page Utilities */
  .section-title {
    @apply text-xl md:text-2xl;
  }

  .card-grid {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-6;
  }

  .table-header-cell {
    @apply text-purple-100;
  }

  .table-row-hover {
    @apply overflow-hidden border-none hover:!bg-dark-400 rounded-lg;
  }

  .coin-link {
    @apply pl-1 md:pl-2 py-1 md:py-2 xl:py-1 flex items-center gap-2 md:gap-3;
  }

  .coin-image {
    @apply rounded-full w-8 h-8 md:w-9 md:h-9;
  }

  .price-change-indicator {
    @apply flex gap-1 items-center text-sm font-medium;
  }

  .top-movers-container {
    @apply w-full flex flex-col justify-center h-full py-4 bg-dark-500 rounded-xl;
  }

  .main-container {
    @apply py-6 md:py-12 mx-auto px-4 sm:px-6 max-w-[1440px] w-full space-y-6 md:space-y-6;
  }

  .home-grid {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 items-start lg:items-center gap-6;
  }

  .section-title-spacing {
    @apply text-xl md:text-2xl px-4 md:px-5 mb-2;
  }

  .table-scrollbar-container {
    @apply bg-dark-500 overflow-hidden;
  }

  .table-head-left {
    @apply pl-4 md:pl-5 py-3 text-purple-100;
  }

  .table-head-right {
    @apply pr-4 md:pr-5 text-purple-100;
  }

  .table-cell-change {
    @apply font-medium py-4 pr-3 md:pr-5;
  }

  .table-cell-price {
    @apply font-bold pr-5 text-sm max-w-[100%] truncate;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e2833;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #171a34;
}

/* Table Custom Scrollbar */
.custom-scrollbar [data-slot='table-container'] {
  overflow-y: auto;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar-thumb {
  background: #1e2833;
  border-radius: 8px;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar-thumb:hover {
  background: #171a34;
}
