@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Brand colors */
  --color-dark-900: var(--dark-900);
  --color-dark-700: var(--dark-700);
  --color-dark-500: var(--dark-500);
  --color-dark-400: var(--dark-400);
  --color-purple-600: var(--purple-600);
  --color-purple-100: var(--purple-100);
  --color-green-500: var(--green-500);
  --color-green-400: var(--green-400);
  --color-green-300: var(--green-300);
  --color-red-500: var(--red-500);
  --color-yellow-500: var(--yellow-500);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Brand colors */
  --dark-900: #000510;
  --dark-700: #0f1316;
  --dark-500: #1a2027;
  --dark-400: #1e2833;

  --purple-600: #1b254b;
  --purple-100: #a3aed0;

  --green-500: #76da44;
  --green-400: #2ebe7b;
  --green-300: #99e39e;

  --red-500: #ff685f;
  --yellow-500: #dabe44;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-dark-700 text-foreground;
  }
}

@layer components {
  .container {
    @apply px-4 sm:px-6 mx-auto max-w-[1440px];
  }

  .command-input-wrapper {
    @apply !bg-dark-500;
  }

  /* CandlestickChart Styles */
  .candlestick-container {
    @apply p-3 mt-5 rounded-lg bg-dark-500;
  }

  .candlestick-header {
    @apply flex flex-col gap-3 xl:flex-row xl:items-center mb-4 font-semibold text-[#e6eef8] text-[20px];
  }

  .candlestick-button-group {
    @apply flex gap-1 xl:gap-2 items-center;
  }

  .candlestick-interval {
    @apply rounded-sm px-3 py-1.5 border-0 text-sm bg-dark-500 text-white/60;
  }

  .candlestick-period-button {
    @apply rounded-sm border-0 cursor-pointer px-2 xl:px-3 py-1.5 text-xs xl:text-sm text-purple-100 hover:bg-dark-400 hover:text-white transition-colors duration-200;
  }

  .candlestick-period-button-active {
    @apply rounded-sm px-3 py-1.5 border-0 cursor-pointer text-sm text-gray-900 bg-green-500;
  }

  .candlestick-chart-container {
    @apply w-full min-h-[200px];
  }

  /* Home Page Utilities */
  .card-grid {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 mt-5 gap-4 md:gap-6;
  }

  .top-list {
    @apply gap-4 mt-2 md:gap-5 sm:grid-cols-2 lg:grid-cols-1 grid;
  }

  .table-header-cell {
    @apply text-purple-100;
  }

  .table-row-hover {
    @apply overflow-hidden border-none hover:!bg-dark-400 rounded-lg;
  }

  .coin-link {
    @apply pl-1 md:pl-2 py-1 md:py-2 xl:py-1 flex items-center gap-2 md:gap-3;
  }

  .coin-image {
    @apply rounded-full w-8 h-8 md:w-9 md:h-9;
  }

  .price-change-indicator {
    @apply flex gap-1 items-center text-sm font-medium;
  }

  .top-movers-container {
    @apply w-full flex flex-col justify-center h-full py-4 bg-dark-500 rounded-xl;
  }

  .categories-container {
    @apply pt-8 mt-5 w-full bg-dark-500 rounded-xl overflow-hidden;
  }

  .main-container {
    @apply py-6 md:py-12 mx-auto px-4 sm:px-6 max-w-[1440px] w-full space-y-6 md:space-y-6;
  }

  .home-grid {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 items-start lg:items-center gap-6;
  }

  .section-title {
    @apply text-xl md:text-2xl font-semibold mb-2;
  }

  .table-scrollbar-container {
    @apply bg-dark-500 overflow-hidden;
  }

  .table-head-left {
    @apply pl-4 md:pl-5 py-3 text-purple-100;
  }

  .table-head-right {
    @apply pr-4 md:pr-5 text-purple-100;
  }

  .table-cell-change {
    @apply font-medium py-4 pr-3 md:pr-5;
  }

  .table-cell-price {
    @apply font-bold pr-5 text-sm max-w-[100%] truncate;
  }

  /* Coin Details Page Utilities */
  .coin-details-main {
    @apply py-12 px-4 sm:px-6 mx-auto max-w-[1440px] size-full grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 items-center gap-6 xl:gap-10 justify-center;
  }

  .exchange-container {
    @apply bg-dark-500 rounded-xl overflow-hidden;
  }

  .exchange-header-left {
    @apply pl-5 py-5 text-purple-100;
  }

  .exchange-header-right {
    @apply pr-5 text-purple-100 text-end;
  }

  .exchange-link {
    @apply py-4 pl-3 block w-full max-w-[230px] truncate whitespace-pre-wrap;
  }

  .exchange-pair {
    @apply font-medium h-full flex py-4 pr-5;
  }

  .exchange-timestamp {
    @apply pr-5 text-end;
  }

  .coin-details-grid {
    @apply rounded-lg grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-3 sm:gap-5;
  }

  .detail-card {
    @apply text-base bg-dark-500 px-5 py-6 rounded-lg flex flex-col gap-3;
  }

  .detail-link {
    @apply flex items-center text-green-500 gap-1;
  }

  .coin-description {
    @apply mt-8 text-sm font-sans text-purple-50 leading-[30px];
  }

  /* Coins Page Utilities */
  .coins-main {
    @apply py-12 px-4 sm:px-6 mx-auto max-w-[1440px] size-full items-center gap-10 justify-center;
  }

  .coins-container {
    @apply bg-dark-500 rounded-xl max-h-fit overflow-hidden;
  }

  .coins-header {
    @apply bg-dark-400 text-purple-100;
  }

  .coins-header-row {
    @apply hover:bg-transparent;
  }

  .coins-header-left {
    @apply pl-5 py-4 text-purple-100;
  }

  .coins-header-right {
    @apply pr-8 text-purple-100;
  }

  .coins-row {
    @apply text-lg hover:!bg-dark-400/30 cursor-pointer;
  }

  .coins-rank {
    @apply pl-5 !max-w-[80px] py-5 font-medium text-purple-100;
  }

  .coins-token {
    @apply py-3 font-semibold;
  }

  .coins-token-info {
    @apply flex items-center gap-3;
  }

  .coins-price {
    @apply py-4 font-medium;
  }

  .coins-change {
    @apply flex gap-1 items-center font-medium;
  }

  .coins-market-cap {
    @apply pr-5 font-medium;
  }

  /* SearchModal Component Utilities */
  .search-button {
    @apply px-6 hover:!bg-transparent font-medium transition-all h-full cursor-pointer text-base text-purple-100 flex items-center gap-2;
  }

  .search-kbd {
    @apply pointer-events-none hidden sm:inline-flex h-5 select-none items-center gap-1 rounded border bg-muted px-1.5 font-mono text-[10px] font-medium opacity-100;
  }

  .search-dialog {
    @apply !bg-dark-400 max-w-sm sm:max-w-md md:max-w-2xl mx-auto;
  }

  .search-list {
    @apply bg-dark-500 max-h-[400px];
  }

  .search-empty {
    @apply py-6 text-center text-sm text-gray-400;
  }

  .search-heading {
    @apply flex items-center gap-2 text-purple-100;
  }

  .search-group {
    @apply bg-dark-500 text-purple-100;
  }

  .search-item {
    @apply grid grid-cols-4 gap-4 items-center data-[selected=true]:bg-dark-400 transition-all cursor-pointer hover:!bg-dark-400/50 py-3;
  }

  .search-coin-info {
    @apply flex gap-2 items-center col-span-2;
  }

  .search-coin-image {
    @apply size-9 rounded-full;
  }

  .search-coin-symbol {
    @apply text-sm text-purple-100 uppercase;
  }

  .search-coin-price {
    @apply font-semibold text-sm lg:text-base;
  }

  .search-coin-change {
    @apply flex gap-1 text-sm lg:text-base items-center font-medium;
  }

  /* Converter Component Utilities */
  #converter {
    @apply w-full space-y-5;

    h4 {
      @apply text-2xl font-semibold;
    }

    .panel {
      @apply space-y-2 bg-dark-500 px-5 py-7 rounded-lg;
    }

    .input-wrapper {
      @apply bg-dark-400 h-12 w-full rounded-md flex items-center justify-between py-4 pr-4;

      .input {
        @apply flex-1 text-lg! border-none font-medium bg-dark-400! focus-visible:ring-0 shadow-none [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
      }

      .coin-info {
        @apply flex items-center gap-1;

        p {
          @apply font-semibold text-base text-purple-100;
        }
      }
    }

    .divider {
      @apply relative flex justify-center items-center my-4;

      .line {
        @apply h-px z-10 w-full bg-dark-400 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
      }

      .icon {
        @apply size-8 z-20 bg-dark-400 rounded-full p-2 text-green-500;
      }
    }

    .output-wrapper {
      @apply bg-dark-400 h-12 w-full rounded-md flex items-center justify-between py-4 pl-4;

      p {
        @apply text-base font-medium;
      }

      .select-trigger {
        @apply w-fit! border-none! cursor-pointer! h-12! bg-dark-400! hover:bg-dark-400! focus-visible:ring-0!;

        .select-value {
          @apply font-semibold! text-xs! text-purple-100!;
        }
      }

      .select-content[data-converter] {
        @apply bg-dark-400 max-h-[500px];

        .select-item {
          @apply cursor-pointer hover:bg-dark-500!;
        }
      }
    }
  }

  /* TopGainersLosers Component Utilities */
  #top-gainers-losers {
    @apply mt-8 w-full;

    .tabs-list {
      @apply size-full! p-1! bg-transparent! border-b! border-dark-500! rounded-none!;
    }

    .tabs-trigger {
      @apply data-[state=active]:border-none! data-[state=active]:bg-transparent! flex justify-start! mb-0! py-2! text-lg! font-semibold! md:text-2xl!;
    }

    .tabs-content {
      @apply gap-4! mt-2! md:gap-5! sm:grid-cols-2! lg:grid-cols-1! grid!;
    }
  }

  /* CoinHeader Component Utilities */
  .coin-header-container {
    @apply space-y-5 w-full;
  }

  .coin-header-info {
    @apply flex gap-3 items-center;
  }

  .coin-header-image {
    @apply size-[45px] sm:size-[50px] xl:size-[77px];
  }

  .coin-header-price {
    @apply text-3xl sm:text-5xl xl:text-6xl font-semibold;
  }

  .coin-header-badge {
    @apply font-medium mt-2 h-fit py-1 flex items-center gap-1;
  }

  .coin-header-stats {
    @apply grid grid-cols-3 mt-8 gap-4 sm:gap-6 w-fit;
  }

  .coin-header-stat {
    @apply text-base border-r border-purple-600 flex flex-col gap-2;
  }

  .coin-header-stat-label {
    @apply text-purple-100 max-sm:text-sm;
  }

  .coin-header-stat-value {
    @apply flex flex-1 gap-1 items-end text-base font-medium;
  }

  .coin-header-stat-value-30d {
    @apply flex gap-1 flex-1 items-end text-base font-medium;
  }

  .coin-header-stat-price {
    @apply flex gap-1 items-center text-base font-medium;
  }

  /* Skeleton States */
  .coin-header-skeleton-image {
    @apply size-[45px] sm:size-[50px] xl:size-[77px] bg-dark-400/50 rounded-full animate-pulse;
  }

  .coin-header-skeleton-price {
    @apply h-12 sm:h-16 xl:h-20 w-48 sm:w-64 xl:w-80 bg-dark-400/50 rounded animate-pulse;
  }

  .coin-header-skeleton-badge {
    @apply h-10 w-32 bg-dark-400/50 rounded-full animate-pulse mt-2;
  }

  .coin-header-skeleton-stat {
    @apply h-5 w-24 bg-dark-400/50 rounded animate-pulse;
  }

  /* ChartSection Component Utilities */
  .chart-section-container {
    @apply w-full h-full xl:col-span-2 px-2 bg-dark-500 rounded-xl;
  }

  .chart-section-header {
    @apply flex-1 mb-2 flex gap-2 md:gap-3;
  }

  .chart-section-image {
    @apply w-10 h-10 md:w-14 md:h-14;
  }

  .chart-section-info {
    @apply flex flex-col;
  }

  .chart-section-coin-name {
    @apply flex text-purple-100 text-xs md:text-sm w-fit;
  }

  .chart-section-price {
    @apply text-xl md:text-2xl font-semibold;
  }

  .skeleton {
    @apply bg-dark-400/60;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e2833;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #171a34;
}

/* Table Custom Scrollbar */
.custom-scrollbar [data-slot='table-container'] {
  overflow-y: auto;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar-thumb {
  background: #1e2833;
  border-radius: 8px;
}

.custom-scrollbar [data-slot='table-container']::-webkit-scrollbar-thumb:hover {
  background: #171a34;
}
